
%footer.site-footer
  .container
    .site-footer-info
      .brand
        CHORUS: Clearinghouse for the
        %strong Open Research
        of the United States
      .copyright
        \©2014 CHOR, Inc.
        \|
        %a{:href => "http://www.windmilldesign.com", :rel => "external"} Site Credits
    %nav.nav-footer
      %ul
        %li.page_item.page-item-11
          %a{:href => "http://chorus.windmilldesignworks.com/about/"} About
        %li.page_item.page-item-12
          %a{:href => "http://chorus.windmilldesignworks.com/services/"} Services
        %li.page_item.page-item-13
          %a{:href => "http://chorus.windmilldesignworks.com/news/"} News
        %li.page_item.page-item-14.current_page_item
          %a{:href => "http://chorus.windmilldesignworks.com/events/"} Events
        %li.page_item.page-item-15
          %a{:href => "http://chorus.windmilldesignworks.com/resources/"} Resources
        %li.page_item.page-item-16
          %a{:href => "http://chorus.windmilldesignworks.com/contact/"} Contact
        %li.join
          %a{:href => "http://chorus.windmilldesignworks.com/join-chorus/"} Join
