:css
  table.funders_ids {
    margin: 0 auto;
  }
  table.funders_ids th {
    background: rgb(107, 107, 107);
    color: white;
  }
  .funder-row:nth-child(even){
    background: #FAFAFA;
  }
  .funder-row:hover {
    cursor: pointer;
    background: rgb(230, 230, 230);
  }


%div
  %table.funders_ids
    %tr
      %th Name
      %th ID
    - render_fresh_funder(funder) do |name, id, level|
      %tr{:class => "funder-row funder-lever#{level}" }
        %td.funder-hl{:style => "padding-left:#{(level-1)*20}px;"}= name
        %td.funder-hl= id
