:css
  .item-data {
    padding: 1em;
  }
  td {
    vertical-align: top;
    padding: .7em;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  table:first_child {
    border-top: 1px solid #eee;
  }
  tr {
    border-bottom: 1px solid #eee;
    padding-bottom: 5em;
  }
  .item-data a {
    margin-left: 0.2em;
    margin-right: 0.2em;
  }
  .extra {
    color: #999;
    font-size: 1.2em;
    line-height: 1.3em;
  }
  .lead {
    margin-bottom: .7em;
  }
  .oa-tooltip, .oa-tooltip:visited, .oa-tooltip:hover {
    color: rgb(246, 130, 18);
    text-decoration: none;
  }
  .item-links-outer {
    margin-top: 1.5em;
    position: relative;
  }
  .item-links {
    position: absolute;
    top: 50%;
    height: 1.6em;
    margin-top:-0.8em;
  }
  .item-links img {
    margin-top: -0.33em;
  }
  .item-links a {
    margin-right: 1.5em;
  }
  .item-data .extra span {
    font-size: .9em;
    line-height: 1.5em;
  }
  .label {
    font-weight: normal;
  }
  .item-data .lead {
    margin-bottom: .2em;
  }
  .item-data .extra b {
    font-size: 1.1em;
  }
  .modal-body p {
    font-size: 1.3em;
    line-height: 1.2em;
  }

:javascript
  MAX_EXPAND_CHARS = 240;

  $(document).ready(function() {
    $('.oa-tooltip').tooltip({
      title: 'Article is published in a journal present in the Directory of Open Access Journals.'
    });

    $('.expand').each(function() {
      if ($(this).text().length > MAX_EXPAND_CHARS) {
        $(this).data('full-text', $(this).text());
        $(this).text($(this).text().substring(0, MAX_EXPAND_CHARS));
        $(this).append($('<a>').addClass('expander').text('...').attr('href', '#'));
      }
    });

    $('.expander').click(function(e) {
      var parent = $(this).parent();
      parent.text(parent.data('full-text'));
      e.preventDefault();
      return false;
    });

%table
  - page[:items].each do |item|
    = partial :item, :page => page, :item => item
