.item-links-outer
  .item-links
    %a{href: item.url}
      %i.icon-external-link
      = item.url
    %span.dropdown
      %a.dropdown-toggle{role: 'button', 'data-toggle' => 'dropdown', href: '#'}
        %i.icon-double-angle-down
        Actions
      %ul.dropdown-menu{role: 'menu'}
        %li
          %a{href: "#{facet_link('publication', item.short_publication)}"}
            %i.icon-filter
            Filter on this publication (not working)
