!!!
%html
  %head
    %link{:rel => 'stylesheet', :href => '/bootstrap.min.css', :type => 'text/css', :media => 'screen'}
    %link{:rel => 'stylesheet', :href => '/font-awesome.min.css', :type => 'text/css', :media => 'screen'}
    %link{:rel => 'stylesheet', :href => '/typeahead.css', :type => 'text/css', :media => 'screen'}
    %link{:rel =>'search', :href => '/opensearch.xml', :type => 'application/opensearchdescription+xml', :title => 'CrossRef Metadata Search'}
    %script{:type => 'text/javascript', :src => '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/bootstrap.js'}
    %script{:type => 'text/javascript', :src => '/spin.min.js'}
    %script{:type => 'text/javascript', :src => '/format.min.js'}
    %script{:type => 'text/javascript', :src => '/typeahead.min.js'}
    %script{:type => 'text/javascript', :src => '/bootstrap.notify.js'}
    %script{:type => 'text/javascript', :src => '/hogan.js'}
    :css
      a, a:visited {
        color: rgb(56, 166, 203);
      }
      a:hover {
        color: rgb(6, 116, 153);
      }
    :javascript
      $(document).ready(function() {
        $('.number').formatNumber();
      });
  %body
    .notifications.top-left
    .container-fluid
      = yield
