!!!
%html
  %head
    %link{:rel => 'icon', :href => '/favicon.png'}
    %link{:rel => 'stylesheet', :href => '/bootstrap.min.css', :type => 'text/css', :media => 'screen'}
    %link{:rel => 'stylesheet', :href => '/font-awesome.min.css', :type => 'text/css', :media => 'screen'}
    %link{:rel => 'stylesheet', :href => '/typeahead.css', :type => 'text/css', :media => 'screen'}
    %link{:rel =>'search', :href => '/opensearch.xml', :type => 'application/opensearchdescription+xml', :title => 'CrossRef Metadata Search'}
    %script{:type => 'text/javascript', :src => '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/bootstrap.js'}
    %script{:type => 'text/javascript', :src => '/spin.min.js'}
    %script{:type => 'text/javascript', :src => '/format.min.js'}
    %script{:type => 'text/javascript', :src => '/typeahead.min.js'}
    %script{:type => 'text/javascript', :src => '/bootstrap.notify.js'}
    %script{:type => 'text/javascript', :src => '/hogan.js'}
    %script{:type => 'text/javascript', :src => '/bowser.min.js'}
    :css
      a, a:visited {
        color: rgb(56, 166, 203);
      }
      a:hover {
        color: rgb(6, 116, 153);
      }

    :coffee
      $(document).ready ()->
        message = "This website may not display correctly in your browser. If not, please use one of the following browsers:"
        list_tag = "<ul>"

        browser_supported = ()->
          supported_browsers =  { "Chrome": 25, "Internet Explorer": 9, "Firefox": 5 }

          for browser of supported_browsers
            list_tag = list_tag+"<li>"+browser+", version > "+supported_browsers[browser]+"</li>"
          list_tag = list_tag + "</ul>"

          result = false
          for browser of supported_browsers
            if bowser["name"] == browser && bowser["version"] >= supported_browsers[browser]
              result = true
          result

        unless browser_supported()
          $("div.notifications:first").append('<div>'+message+list_tag+'</div>')


    :javascript
      $(document).ready(function() {
        $('.number').formatNumber();
      });
  %body
    .notifications.top-left
    .container-fluid
      = yield
