:css
  .search-box {
    padding: 0 .6em;
  }
  .search-info {
    padding: .3em 0;
  }

- if page[:items].empty?
  .alert.alert-error.search-box
    .search-info
      %h4 No Records
      There are no records for
      %b= page[:bare_query]

