:javascript
  $(document).ready(function() {
    $('#help-body').collapse('hide');
    $('#search-input').focus();
  });


.row-centered.break-below
  = partial :search_header, page: page.merge(mini_header: true)

.row-centered
  %center
    %img{src: "./chorus-logo.png"}/
  %label.right-aligned.fed
    %input#us_only{type: "checkbox"}/
    US Federal only
  %form#search-form{action: "http://search.chorusaccess.org/", method: "GET"}
    .search
      %span.twitter-typeahead
        %input.input.input-xlarge.search-input.tt-hint{autocomplete: "off", disabled: "disabled", spellcheck: "false", type: "text"}/
        %input#search-input.input.input-xlarge.search-input{autocomplete: "off", dir: "auto", name: "q", placeholder: "Funder name", spellcheck: "false", type: "text"}/
        %pre.tt{"aria-hidden" => "true"}
        %span.tt-dropdown-menu
          .tt-dataset-funders
      %input#us-only{name: "us-only", type: "hidden", value: "f"}/
      %i.fa.fa-search

%center
  .row-centered.beta
    %center
      .betaHead The CHORUS Search tool is currently in beta.
    .betaContent
      Results returned identify articles that report on agency-funded research from our growing data set, but these articles may or may not be publicly accessible at this time. In the near future we will introduce a method to clearly identify publicly accessible articles in search results. Thank you for supporting CHORUS.

.row-centered
  .accordion#help-accordion
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{:href => '#help-body', 'data-toggle' => 'collapse', 'data-parent' => '#help-accordion'}
          .pull-right
            %i.icon-caret-down
          %span Help! - Example Queries
      .accordion-body#help-body
        .accordion-inner
          = partial :fundref_help_list
%br
%br
